<head>
    <meta charset="UTF-8">
    <title>Введите новый пароль</title>
</head>
<body>
    <h2>Введите новый пароль. Он должен быть не короче 8 символов и содержать: строчные и заглавные латнские буквы, цифры. Спецсимволы указываются по желанию и обскпечивают дополнительную безопасность Вашей учётной записи. </h2>
    <div class="form-row">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="submit" value="Далее"/>
    </form>
    {% if error_message %}
            <h1>{{ error_message }}</h1>
    {% endif %}
    </div>
</body>