{% block doctype %}
  <!doctype html>
  {% load static %}
  <html lang="ru">
{% endblock doctype %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Страница сброса пароля</title>
        <!--Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}">
        <!-- Bootstrap CSS local-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Bootstrap JS local-->
        <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/form_retry_post_forbiden.js' %}"></script>
        {% block head %}
        {% endblock head %}
    </head>
    {% block body %}
    <body>
      <div class="wrapper">
        <div class="header">
            <div class="row justify-content-center">
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                {% block header %}
                  <a href="{% url 'index' %}">
                    <img src="{% static 'images/logo1.svg' %}"  alt="Ваш браузер не поддерживает SVG" width="200px" height="200px">
                  </a>
                {% endblock header %}
              </div>
            </div>
        </div>
        <div class="content">
          <div class="row justify-content-center">
            <div class="col-10 col-sm-9 col-md-7 col-lg-5 col-xl-5 col-xxl-5">
              {% block content %}
              {% endblock content %}
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
              {% block footer %}
                  <hr class="footer-line">
                  <img src="{% static 'images/logo2.svg' %}"  alt="Ваш браузер не поддерживает SVG" width="200px" height="200px">
                  <p>© {% now "Y" %} Волховец</p>
              {% endblock footer %}
            </div>
          </div>
        </div>
      </div>
    </body>
    {% endblock body %}
</html>