{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h4>Введите новый пароль. Он должен быть не короче 8 символов и содержать: строчные и заглавные латинские буквы, а также цифры. Спецсимволы указываются по желанию и обеспечивают дополнительную безопасность Вашей учётной записи</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            {{ form.new_password|as_crispy_field }}
        </div>
        <br>
        <div class="row">
            {{ form.confirm_new_password|as_crispy_field }}
        </div>
        <br>
        {% if error_message %}
            <h5 class="text-danger">{{ error_message }}</h5>
        {% endif %}
        <input type="Submit" class="btn btn-success" name="submit" value="Далее"/>
    </form>
{% endblock content %}