{% extends 'base.html' %}

{% block doctype %}
    {% load static %}
    {{ block.super }}
{% endblock doctype %}

{% load crispy_forms_tags %}

{% block body %}
    <body style="background-color: #44503D;"></body>
    {{ block.super }}
{% endblock body %}
{% block content %} 
    <form action="" method="POST" class="form-field">
        {% csrf_token %}
        <div class='d-flex flex-wrap'>
            <div class="flex-grow-1">
                {{ form.new_password|as_crispy_field }}
            </div>
            <div class="align-self-end">
                <p data-tooltip="Пароль должен состоять из латинских букв и быть не короче 8 символов.
                Он обязательно содержит заглавные, строчные буквы и цифры.
                Специальные символы указываются по желанию."><a><img src="{% static 'images/question.svg' %}" width="32" 
                    height="32"></a></p>
            </div>
            <div class="flex-grow-1">
                <br>
                {{ form.confirm_new_password|as_crispy_field }}
            </div>
            <div id="pass"></div>
        </div>
        <br>
        {% if error_message %}
            <h5 class="error_msg">{{ error_message }}</h5>
            <br>
        {% endif %}
        <div class='d-flex justify-content-end'><input type="Submit" class="btn-next" name="submit" value="Далее"/></div>
    </form>
{% endblock content %}