{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <body style="background-color: #2A4948;"></body>
    {{ block.super }}
{% endblock body %}
{% block content %}
    <form action="" method="POST" class="form-field">
        {% csrf_token %}
        {{ form.domain|as_crispy_field }}
        <br>
        {% if error_message %}
            <h5 class="error">{{ error_message }}</h5>
            <br>
        {% endif %}
        <div class='d-flex justify-content-end'><input type="Submit" class="btn-next" name="submit" value="Далее"/></div>
    </form>
{% endblock content %}