{% extends 'base.html' %}
{% block doctype %}
    <!doctype html>
    {% load static %}
    <html lang="ru">
{% endblock doctype %}

{% load crispy_forms_tags %}

{% block body %}
    <body style="background-color: #27261D;"></body>
    {{ block.super }}
{% endblock body %}
{% block content %}
    <form action="" method="POST" class="form-field">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <br>
        {{ form.captcha|as_crispy_field }}
        <br>
        <!--For desktop-->
        <div class="d-none d-sm-block">
            <div class='d-flex justify-content-end btn-next-div2'>
                <div class="btn-next-div">
                    <input type="Submit" class="btn-next" name="submit" value="Далее"/>
                </div>
            </div>
        </div>
        <!--For mobile-->
        <div class="d-block d-sm-none">
            <div class='d-flex'>
                <div class="btn-next-div-mobile">
                    <input type="Submit" class="btn-next-mobile" name="submit" value="Далее"/>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
